::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }


  h1 {
    font-size:2em;
    margin:.67em 0;
    font-weight:bold;
    margin-bottom:10px;
    font-size:38px;
    line-height:44px;
    margin-bottom: 24px;
    color: #0a1023;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }

  img {
      max-width: 100%;
  }

  .leftside {
  height: 50vh;
  }

  .rightside {
    height: 100vh;
    width: 100%;
  }

  .leftside {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-hero-left {
    max-width: 100%;
    padding-right: 24px;
  }

  .sufix-line {
     width: 80px;
     height: 4px;
     background-color: #f20823;
  }

  .span-primary-color {
    color: #f20823;
  }

  .paragraph-large {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
  }

  .button-primary {
    padding: 22px 36px;
    border-style: solid;
    border-width: 1px;
    border-color: #f20823;
    border-radius: 80px;
    background-color: #f20823;
    -webkit-transition: background-color 350ms ease;
    transition: background-color 350ms ease;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
  }

  .button-primary:hover {
    background-color: #d30814;
    box-shadow: none;
    color: #fff;
  }
  
  .button-primary:disabled{
    background-color: #ec8d98;
    border-color: #ec8d98;
  }

  .button-primary.large {
    padding: 22px 42px;
    font-size: 20px;
    line-height: 22px;
  }

  .button-secondary {
    padding: 22px 36px;
    border-style: solid;
    border-width: 1px;
    border-color: #f20823;
    border-radius: 80px;
    background-color: #fff;
    -webkit-transition: color 350ms ease, background-color 350ms ease;
    transition: color 350ms ease, background-color 350ms ease;
    color: #f20823;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
  }
  
  .button-secondary:hover {
    background-color: #f20823;
    color: #fff;
  }
  
  
  .button-secondary.large {
    padding: 22px 42px;
    font-size: 20px;
    line-height: 22px;
  }



  

  .spacer.hero-buttons {
    min-width: 28px;
  }

  ._2-buttons-wrapper {
    display: flex;
  }

  @media screen and (min-width: 1280px) {

    h1 {
        font-size: 51px;
    }
    
    body {
        font-size: 19px;
    }

    paragraph-large {
      font-size: 26px;
    }

    .button-primary {
      font-size: 19px;
    }
  
    .button-primary.large {
      font-size: 19px;
    }

    .button-secondary {
      font-size: 19px;
    }
  
    .button-secondary.large {
      font-size: 21px;
    }
  }

  @media screen and (max-width: 991px) {

    .leftside {
        padding-right: 24px;
        padding-left: 24px;
    }

    .container-hero-left {
      max-width: 560px;
      margin-top: 10px;
    }

    .moto {
        padding-top: 20px !important;
    }

    .vv {
        display: block;
    }
  }

  @media screen and (max-width: 767px) {

    h1 {
      font-size: 38px;
      line-height: 50px;
    }

    .paragraph-large {
      font-size: 20px;
      line-height: 32px;
    }

    .spacer.hero-buttons {
      min-width: 15px;
    }
  }

  @media screen and (max-width: 479px) {

    .button-primary {
      padding-top: 18px;
      padding-bottom: 18px;
      white-space: normal;
    }
    
    .button-primary.large {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    }
    
    .spacer.hero-buttons {
      min-height: 18px;
      min-width: 0px;
    }

    .button-secondary {
      padding-top: 18px;
      padding-bottom: 18px;
      white-space: normal;
    }
  
    .button-secondary.large {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .container-hero-left {
      padding-right: 0px;
    }

  }

  