.section{
    padding-bottom: 10em;
    text-align: center;
    background-image: linear-gradient(180deg, #fff 60%, #f20823 0);
}


.verify-carousel{
    border: 1px rgb(221, 220, 220) solid;
    padding: 3.4rem 2.2rem;
    margin: 5rem auto 0;
    background-color: white;
    max-width: 750px;
}

.carousel-nav{
    margin-top: 4rem;
}

.carousel-nav>button+button{
    margin-left: 7em;
}

.carousel-container{
    position: relative;
    overflow: hidden;
    height: 607px;
}

.carousel-track{
    height: 100%;
    transition: transform 390ms linear;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0;
}

.carousel-slide{
    min-width: 100%;
}

.verification input{
    border: 1px rgb(221, 220, 220) solid;
    width: 100%;
    height: 3.4rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    padding: 0 1rem;
    outline: none;
    transition: color 350ms ease, border-color 350ms ease;
}

.verification input:hover{
    border: 1px rgb(241, 54, 54) solid;
}
.verification input:focus {
    border: 1px rgb(241, 54, 54) solid;
}

label{
    display: block;
    margin-bottom: 1rem;
    line-height: 1.2rem;
    text-align: left;
}
form{
    font-weight: bolder;
    color: black;
    bottom: 0;
}

.carousel-track li{
    list-style: none;
}

.carousel-track-container ul{
    margin: 0 0;
    padding: 0 0;
}