
  footer {
    display: block;
  }
  
  .w-inline-block {
    max-width:100%;
    display:inline-block
  }
  
  .nav-lin.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    border-top-width: 0px;
    color: #848894;
    font-weight: 400;
    text-decoration: none;
  }
    
  .nav-lin.footer:hover {
    color: #f20823;
  }
    
  .footer {
    padding-top: 64px;
    border-top: 1px solid #d8dce7;
    background-color: #fff;
  }
    
    
    
  .footer-logo-container {
    margin-bottom: 24px;
  }
  
  .footer-nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
  }
  
  .footer-nav-item {
    margin-bottom: 16px;
  }

  .divider {
    width: 100%;
    height: 1px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #d8dce7;
  }

  .divider.footer {
    height: 2px;
    margin-top: 26px;
    margin-bottom: 44px;
    padding-top: 0px;
    border-top-width: 0px;
  }

  .footer-fine-print {
    margin-top: 48px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #d8dce7;
  }
  
  .footer-title {
    color: #0a1023;
    line-height: 20px;
    font-weight: 700;
  }

  .footer-address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .container-default-1310px {
    max-width: 1310px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
  }

  .w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  .footer-grid {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-column-gap: 68px;
    grid-row-gap: 68px;
    -ms-grid-columns: 1.25fr 0.5fr 1fr 0.75fr;
    grid-template-columns: 1.25fr 0.5fr 1fr 0.75fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .mg-bottom-32px {
    margin-bottom: 32px;
  }

  .social-media-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .social-media-link {
    margin-right: 32px;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    transition: transform 350ms ease, -webkit-transform 350ms ease;
  }
  
  .social-media-link:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .nav-lin {
    -webkit-transition: color 350ms ease;
    transition: color 350ms ease;
  }

  .nav-lin:hover {
    color: #f20823;
  }

  .contact-us-icon {
    margin-right: 13px;
  }

  .contact-us-icon.adress-icon {
    margin-top: 6px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .container-medium-700px {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
  }

  .text-center {
    text-align: center;
  }
    
  @media screen and (min-width: 1280px) {

  .container-default-1310px {
      max-width: 1510px;
      padding-right: 40px;
      padding-left: 40px;
    }

    .container-medium-700px.text-center {
      max-width: 850px;
    }
  }
  
  @media screen and (max-width: 991px) {
  
  .nav-lin.footer {
      padding-right: 0px;
      padding-left: 0px;
      border-bottom-width: 0px;
    }

    .footer-grid {
      grid-template-areas: "Area Area Area";
      -ms-grid-columns: 1.25fr 0.5fr 1fr;
      grid-template-columns: 1.25fr 0.5fr 1fr;
    }

    .container-default-1310px {
      padding-right: 24px;
      padding-left: 24px;
    }

    .divider {
      display: block;
    }

    .nav-lin {
      padding-right: 24px;
      padding-left: 24px;
      border-bottom: 1px solid #f8f8f8;
    }
  }
  
  @media screen and (max-width: 767px) {
  
    .footer-grid {
      grid-template-areas: ".";
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .divider.footer {
      margin-bottom: 26px;
    }

    .container-default-1310px {
      padding-right: 24px;
      padding-left: 24px;
    }

    .social-media-wrapper {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    .container-medium-700px {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 479px) {

   .footer-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  
    .footer-nav-item {
      margin: 8px 0px;
    }

    .footer-fine-print {
      font-size: 16px;
    }

    .container-default-1310px {
      padding-right: 20px;
      padding-left: 20px;
    }

    .nav-lin {
      padding-right: 16px;
      padding-left: 16px;
    }

    .container-medium-700px {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  @font-face {
    font-family: 'Icons Banca Template';
    src: url('https://assets.website-files.com/5ea6ed9e484d220156b1c38d/5eaca55000e6c654fee36944_icons-banca-template.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Manrope';
    src: url('https://assets.website-files.com/5ea6ed9e484d220156b1c38d/5ea6f17e02970b5f034be5e5_Manrope-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Manrope';
    src: url('https://assets.website-files.com/5ea6ed9e484d220156b1c38d/5ea6f17f7bfbfb5e11b9f56b_Manrope-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
  }